.github
.vscode
.yarn/install-state.gz
node_modules

# Backend
backend/.cache
backend/.tmp
backend/node_modules
backend/sami-dev.db

# Frontend
frontend/.next/cache


ci
config
data/backups
data/sqlite
docker
docs
scripts/node_modules

