.github
.vscode
.yarn/install-state.gz

# Backend
backend/.cache
backend/.tmp
backend/sami-dev.db
backend/.env
backend/public/uploads

ci
config
data/backups
data/sqlite
docker/
!docker/gcsfuse
docs

# Frontend
frontend/.next/cache
frontend/.vercel
frontend/out
frontend/.env

.dockerignore
docker-compose.yml
service-account.json


# Ignore all node_modules
# NOTE - implies all images will install own node_modules
**/node_modules
node_modules
backend/node_modules
frontend/node_modules
scripts/node_modules