**/node_modules

.github
.vscode
.yarn/install-state.gz

# Backend
backend/.cache
backend/.tmp
backend/node_modules
backend/sami-dev.db
backend/.env
backend/public/uploads

ci
config
data/backups
data/sqlite
docker/
!docker/gcs_fuse_run.sh
docs

# Frontend
frontend/.next/cache
frontend/.vercel
frontend/out
frontend/.env

scripts/node_modules

.dockerignore
docker-compose.yml

